<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Document
        link(href='https://fonts.googleapis.com/css?family=Pacifico|Roboto&display=swap' rel='stylesheet')
        style
            include ../styles/movies.css
    body
        h1 ALL MOVIES 
        ul 
            each movie in movies 
                li.movie-name
                    p= movie.name
                    p= `by ${movie.director.name}`